<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />
  <title>AI API Automated Model Card</title>
  <meta name="description" content="A modern and minimal CSS framework for terminal lovers." />
  <link rel="stylesheet" href="https://terminalcss.xyz/css/normalize.css" />
  <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />

  <style>
    .components-grid {
      display: grid;
      grid-column-gap: 1.4em;
      grid-template-columns: auto;
      grid-template-rows: auto;
    }

    .image-grid {
      display: grid;
      grid-template-rows: auto;
      display: grid;
      grid-gap: 1em;
      grid-template-rows: auto;
      grid-template-columns: repeat(auto-fit,
          minmax(calc(var(--page-width) / 12), 1fr));
    }

    @media only screen and (min-width: 70em) {
      .components-grid {
        grid-template-columns: 3fr 9fr;
      }
    }
  </style>

</head>

<body class="terminal">
  <div class="container">
    <div class="terminal-nav">
      <header class="terminal-logo">
        <div class="logo terminal-prompt"><a href="https://terminalcss.xyz" class="no-style">Model Card for Google's
            Sentiment Detection API</a></div>
      </header>
    </div>
  </div>

  <div class="container">

    <h1 id="model-card">🔍 Auditing an artifical intelligence API with an open dataset</h1>
    <p>This web page is a dynamic <a href="https://modelcards.withgoogle.com/about">model card</a> for Google's
      sentiment detection API.
    </p>

    <p>Artifical Intelligence (AI) APIs rarely expose information about how the model(s) behind them perform. This is
      because those models could be changed at any time, as companies re-train them or run experiments to seek to
      improve their internal metrics.
    </p>

    <p>This proof-of-concept system uses an open source sentiment dataset to <em>regularly</em> audit the performance of
      a closed AI API. It was submitted to the <a href="">AI Audit Challenge</a> in October 2022.
    </p>

    <hr />

    <h2 id="intended-usage">✅ What is sentiment analysis?</h2>
    <p>
    <blockquote>
      <p>
        <em>Sentiment Analysis inspects the given text and identifies the prevailing emotional opinion within the text,
          especially to determine a writer's attitude as positive, negative, or neutral.</em>
      </p>
      <footer>
        <cite><a href="https://cloud.google.com/natural-language/docs/analyzing-sentiment">Google
            Documentation</a></cite>
      </footer>
    </blockquote>
    </p>

    <h2 id="model-api">✅ How does the API score sentiment?</h2>
    <p>
    <blockquote>
      <p>
        <em>The score of a document's sentiment indicates the overall emotion of a document. The magnitude of a
          document's sentiment indicates how much emotional content is present within the document, and this value is
          often proportional to the length of the document.</em>
      </p>
      <footer>
        <cite><a
            href="https://cloud.google.com/natural-language/docs/basics#interpreting_sentiment_analysis_values">Google
            Documentation</a></cite>
      </footer>
    </blockquote>

    Note: the raw model(s) are not available for direct inspection; this prototype audits the performance of the API at
    a
    given point in time. As far as I can tell, the model(s) behind this API could be updated at any time.
    </p>

    <h2 id="open-dataset">🍅 Which dataset are we using to audit the API?</h2>
    <p>The Rotten tomatoes dataset is <a href="https://huggingface.co/datasets/rotten_tomatoes">hosted on Hugging
        Face</a>. This is a dataset of containing positive and negative processed sentences from Rotten
      Tomatoes movie reviews. This data was first used in <a href="https://arxiv.org/abs/cs/0506075" a research
        paper></a> by Pang and
      Lee published in the Proceedings of the ACL, 2005.
    </p>

    <hr />

    <section>
      <header>
        <h2 id="Timeline">📈 Audit Timeline</h2>
      </header>
      <div class="terminal-timeline">
        {% for row in rows %}
        <div class="terminal-card">
          <header>{{ row.created }}</header>
          <div>
            <p>The automated job ran successfully with {{ row.num_samples }} test set examples in {{ '%.2f' % row.num_minutes }} minutes.</p>

            <header>
              <h2 id="Alerts">Metrics</h2>
            </header>
            <table style="width: 50%">
              <tbody>
                {% if row.accuracy %}
                <tr>
                  <th>Accuracy</th>
                  <td>{{ '%.2f' % row.accuracy }}</td>
                </tr>
                {% endif %}
                {% if row.precision %}
                <tr>
                  <th>Precision</th>
                  <td>{{ '%.2f' % row.precision }}</td>
                </tr>
                {% endif %}
                {% if row.recall %}
                <tr>
                  <th>Recall</th>
                  <td>{{ '%.2f' % row.recall }}</td>
                </tr>
                {% endif %}
                {% if row.f1 %}
                <tr>
                  <th>F1</th>
                  <td>{{ '%.2f' % row.f1 }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>

            <section>
              {% if row.mistakes|length > 0 %}
              <header>
                <h2 id="Alerts">Example mistakes</h2>
              </header>

              {% for mistake in row.mistakes %}
              <div class="terminal-alert terminal-alert-error">
                {% set pred = "negative 😔" if mistake.prediction == 0 else "positive 😀" %}
                {% set lab = "negative 😔" if mistake.label == 0 else "positive 😀" %}
                
                <p><strong>Labelled</strong>: {{ lab }} | <strong>Predicted</strong>: {{ pred }}</p>
                <p><strong>Text</strong>: {{ mistake.text }}</p>
              </div>
              {% endfor %}

              {% endif %}
            </section>
          </div>
        </div>
        {% endfor %}

        <br />
    </section>

    <hr />
    <p>With ❤️ by <a href="https://nlathia.github.io/about/">Neal L.</a></p>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll("pre code").forEach(block => {
        window.hljs.highlightBlock(block);
      });
    });
  </script>
</body>

</html>